@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome-page{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navigation{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 10px;

        img{
            height: 50px;
        }

        p{
            font-size: 20px;
        }
    }

    .main{
        margin: 30px 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .welcome-message{
            width: 80%;
        }

        .login-or-register-buttons{
            margin: 50px 0 30px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            button{
                padding: 10px 40px;
                border: unset;
                outline: unset;
                border-radius: 20px;
                font-size: 15px;
                background-color: navy;
                color: white;

                &:nth-child(1){
                    background-color: orange;
                }
            }
        }

        .form-container{
            width: 100%;

            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .input-container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // margin-bottom: 10px;

                    span{
                        width: 100%;
                        height: 20px;
                        color: red;
                        text-align: center;
                        font-size: 15px;
                    }
                }

                .database-message{
                    color: green;
                    margin-bottom: 10px;
                }

                input{
                    padding: 10px 20px;
                    outline: unset;
                    font-size: 15px;
                    border-radius: 20px;
                    border: unset;
                    background-color: rgb(240, 240, 240);

                    &.send-form-button{
                        width: 80%;
                        margin: 10px 0 20px;
                        color: white;
                        background-color: green;
                    }
                }
            }
        }
        
        .login-without-register{
            display: flex;
            flex-direction: column;
            align-items: center;

            span{
                color: gray;
                margin-bottom: 10px;
            }

            button{
                border: none;
                background-color: unset;
                outline: unset;
                font-size: 16px;
                padding: 10px 20px;
                color: #505050;
            }
        }
    }
}