@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --dark_mode-background-color: black;
    --dm-dark-mode-bgc: #707070;
    --lt-dark-mode-bgc: black;
    --language-bgc: rgb(22, 163, 22);
    --change-username-bgc: rgb(255,0,0);
    --change-password-bgc: #00B3DF;
    --change-email-bgc: purple;
    --sign-out-bgc: navy;
}

.darktheme{
    background-color: var(--dark_mode-background-color);
    color: white;

    .navigation{
        background-color: var(--dark_mode-background-color);

        svg{
            color: white;
        }
    }

    .home-page{
        .entries{
            .entry{
                svg{
                    color: white;
                }
            }
        }

        .other-plans{
            .other-plans-container{
                .plan{
                    background-color: #707070;
                }
            }
        }
    }

    .settings-page{
        .user-settings{
            div{
                aside{
                    a{
                        color: white;
                    }
                }

                &.night-mode{
                    aside{
                        svg{
                            background-color: var(--dm-dark-mode-bgc);
                        }
                    }
                    .toggle-icon{
                        font-size: 30px;
                        overflow: auto;
    
                        &.on{
                            fill: white;
                        }
                    }
                }

                &.language{
                    select{
                        background-color: var(--dark_mode-background-color);
                        color: white;
                    }
                }
            }
        }
    }
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-bottom: 10px;

        span{
            width: 100%;
            height: 20px;
            color: red;
            text-align: center;
            font-size: 15px;
        }
    }

    .database-message{
        color: green;
        margin-bottom: 10px;
    }

    input{
        padding: 10px 20px;
        outline: unset;
        font-size: 15px;
        border-radius: 20px;
        border: unset;
        background-color: rgb(240, 240, 240);

        &.send-form-button{
            width: 80%;
            margin: 10px 0 20px;
            color: white;
            background-color: green;
        }
    }
}

.navigation{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 10px 0;

    p{
        font-size: 20px;

        &.home-page{
            margin: 0 auto;
        }
    }

    svg{
        display: block;
        width: 50px;
        height: 30px;
        color: black;
    }
}

.welcome-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navigation{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 10px;

        img{
            height: 50px;
        }

        p{
            font-size: 20px;
        }
    }

    .main{
        margin: 30px 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .welcome-message{
            width: 80%;
        }

        .login-or-register-buttons{
            margin: 50px 0 30px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            button{
                padding: 10px 40px;
                border: unset;
                outline: unset;
                border-radius: 20px;
                font-size: 15px;
                background-color: navy;
                color: white;

                &:nth-child(1){
                    background-color: orange;
                }
            }
        }

        .form-container{
            width: 100%;

            
        }
        
        .login-without-register{
            display: flex;
            flex-direction: column;
            align-items: center;

            span{
                color: gray;
                margin-bottom: 10px;
            }

            button{
                border: none;
                background-color: unset;
                outline: unset;
                font-size: 16px;
                padding: 10px 20px;
                color: var(--dark_mode-background-color);
            }
        }
    }
}

.settings-page{
    width: 100%;
    display: flex;
    flex-direction: column;

    .user-data{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            margin: 20px 0;
            width: 130px;
            height: 130px;
            border-radius: 50%;
        }

        p{
            font-size: 20px;
            font-weight: bold;
        }
    }

    .user-settings{
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        div{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 30px;
            align-items: center;

            aside{
                display: flex;
                flex-direction: row;
                align-items: center;

                svg{
                    height: 35px;
                    width: 35px;
                    padding: 10px;
                    border-radius: 50%;
                    color: white;
                }

                p,a{
                    margin-left: 20px;
                    font-size: 16px;
                }

                a{
                    text-decoration: unset;
                    color: black;
                }
            }

            &.night-mode{
                .switcher{
                    width: 40px;
                    height: 12px;
                    padding: unset;
                    border-radius: 10px;
                    background-color: lightgray;
                    position: relative;

                    .toggler{
                        padding: unset;
                        width: 20px;
                        height: 20px;
                        background-color: white;
                        border-radius: 10px;
                        border: 1px solid lightgray;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        transition: left 1s easy;

                        &.darktheme{
                            left: calc(100% - 20px);
                        }

                        &.lighttheme{
                            left: 0;
                        }
                    }
                }
            }

            &.language{
                select{
                    appearance: none;
                    outline: none;
                    border: unset;
                    font-size: 16px;
                    text-align: center;
                }
            }

            .night-mode-icon{
                background-color: var(--lt-dark-mode-bgc);
            }

            .language-icon{
                background-color: var(--language-bgc);
            }

            .change-username-icon{
                background-color: var(--change-username-bgc);
            }

            .change-password-icon{
                background-color: var(--change-password-bgc);
            }

            .change-email-icon{
                background-color: var(--change-email-bgc);
            }

            .sign-out-icon{
                background-color: var(--sign-out-bgc);
            }
        }
    }
}

.home-page{
    display: flex;
    flex-direction: column;

    .search{
        // margin-top: 50px;
        display: flex;
        justify-content: center;
        padding: 20px 0;

        input{
            width: 80%;
            font-size: 17px;
            outline: unset;
            border-radius: 25px;
            border: 1px solid rgb(240,240,240);
            padding: 5px 10px;
            background-color: rgb(240,240,240);
        }
    }

    .entries{
        display: flex;
        flex-direction: column;

        .today-plans{
            font-size: 17px;
            padding: 10px 20px;
            text-align: center;
        }

        .entry{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 20px;

            .entry-info{
                display: flex;
                flex-direction: row;
                align-items: center;

                span{
                    display: block;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    background-color: green;
                    margin-right: 10px;
                }

                p{
                    font-size: 17px;
                }
            }

            svg{
                height: 30px;
                color: black;
            }
        }
    }

    .other-plans{
        display: flex;
        flex-direction: column;
        padding: 10px;

        .other-plans-text{
            font-size: 17px;
            padding: 10px 20px 20px;
            text-align: center;
        }

        .other-plans-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            .plan{
                height: 100px;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--dark_mode-background-color);
                border-radius: 15px;

                p{
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }
}

.change-password-page,.change-email-page,.change-username-page{
    width: 100%;

    form{
        padding-top: 10px;
    }

    .change-password-message,.change-username-message{
        width: 100%;
        padding: 0 30px;
        text-align: center;
        margin-bottom: 10px;
    }
}
